.notification-popup {
    @include window;
    min-width: 25rem;

    & .notification-close {
        @include hover($surface);
        border-radius: 1rem;
    }

    & .notification-action {
        @include hover($surfaceContainer);
        border-radius: 1rem;
        padding: 0.5rem;
    }
}
